<!DOCTYPE HTML>
<html>
    <head>
        <meta "charset=utf-8">
        <title></title>
        <link rel="stylesheet" href="css/main.min.css">
    </head>
    <body>   
        <h1>I'm index.html</h1>
        @@include('assets/svg-sprite.html')
        @@include('header-component/header.html')
        @@include('footer-component/footer.html')

        <svg class="search" viewBox="0 0 20px 20px">
            <use xlink:href="#search"></use>
        </svg>
        <svg class="search"  viewBox="0 0 20px 20px">
            <use xlink:href="#in"></use>
        </svg>
        <svg viewBox="0 0 20px 20px">
            <use xlink:href="#instagram"></use>
        </svg>
        <svg viewBox="0 0 20px 20px">
            <use xlink:href="#twitter"></use>
        </svg>
        <svg viewBox="0 0 20px 20px">
            <use xlink:href="#facebook"></use>
        </svg>
        <svg viewBox="0 0 20px 20px">
            <use xlink:href="#google-plus"></use>
        </svg>
    </body>
    <script src="js/main.min.js"></script>
</html>